.hero{
  width: 100%;
  margin: 3.3rem 0;
  // padding: 4rem;
  @include flexCenter(column);
  overflow: hidden;

  .hero-image{
    width: 100%;
    height: 35rem;
    padding: 0rem 2.5rem;
    // @include flexCenter(column);
    position: relative;

    img{
      position: absolute;
      right: -14.7rem;
      width: 132.5%;
      max-width: 55rem;
    // transform: scale(0.5);    
    }
  }

  .hero-text{
    text-align: center;
    padding-top: 1.3rem;
    font-size: 1.8rem;
    max-width: 50rem;

    h1{
      font-size: 4.2rem;
      line-height: 4.9rem;
      letter-spacing: -1.2px;
      color: $very-dark-blue;
    }
    p{
     padding: 1.2rem 3rem 0;
     line-height: 3rem;
     color: $grayish-violet;
    }
    button{
      width: 52%;
      padding: 1.48rem;
      border-radius: 3rem;
      background: $cyan;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 3rem auto;
      border: none;
    }
  }
}

/* TABLET AND DESKTOP */ 
@media (min-width:750px) {
  .hero .hero-text h1{
    font-size: 5rem;
  }
}

@media (min-width: 950px) {
  .hero{
    flex-direction: row-reverse;
    height: 38rem;

    .hero-image{
      img{
        right: -10rem;
      }
    }

    .hero-text{
      text-align: left;
      margin: 0 0 0 8rem;
      width: 125rem;

      h1{
        font-size: 6rem;
        line-height: 6.5rem;
      }

      p{
        padding: 0;
      }

      button{
        width: 35%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero{
    height: 51rem;
    margin-top: -5.3rem;

    .hero-image{
      img{
        max-width: 65.2rem;
        right: -11rem
      }
    }

    .hero-text{
      margin: 0 0 0 15rem;

      h1{
        font-size: 7rem;
        width: 60rem;
        line-height: 8rem;
        letter-spacing: -1.6px;
        margin-top: 9.2rem;
      }

      p{
        font-size: 2rem;
        // line-height: 3.3rem;
      }

      button{
        font-weight: 500;
        font-size: 1.6rem;
        // padding: 1.3rem;
        margin: 3.4rem auto 2.6rem;
        padding: 1.25rem;
      }
    }
  }
}