.dashboard{
  margin-top: -3.82rem;
  background: #f0f1f6;
  @include flexCenter(column);
  padding: 0 2.4rem;
  text-align: center;

  h1, h2{
    color: $very-dark-blue;
  }

  p{
    color: $grayish-violet;
  }
  
  .heading{
    margin-bottom: 7rem;
    max-width: 48rem;

    h1{
      font-size: 2.85rem;
      letter-spacing: -1px;
      margin-bottom: 1.8rem;
    }

    p{
      line-height: 2.8rem;
      font-size: 1.6rem;
    }
  }

  .cards-wrapper{
    // padding: 0 1rem;
    max-width: 66rem;


    .card{
      // height: 26.7rem;
      background: #fff;
      padding: 1.5rem 3.5rem 4rem;
      margin: 2rem 0 9.25rem;
      border-radius: 0.5rem;
      position: relative;
      
      &:nth-child(2){
        padding-bottom: 3rem;
      }

      &:nth-child(3){
        margin-bottom: 8rem;
      }

      &:nth-child(1), &:nth-child(2){
        &::after{
          content: '';
          position: absolute;
          width: 0.8rem;
          height: 9.25rem;
          background: $cyan;
          margin:  0 auto;
          top: 100%;
          // left: 50%;
          margin-left: -1%
        }
      }

      
      .icon{
        @include flexCenter(column);
        background: $dark-violet;
        border-radius: 50%;
        width: 8.8rem;
        height: 8.8rem;
        margin: -6rem auto 3.2rem auto;
      }

      h2{
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
      }
    
      p{
        font-size: 1.5rem;
        line-height: 2.6rem;
        letter-spacing: -0.06px;      
      }
    }
  }
}

@media (min-width: 1023px) {
  .dashboard{
    .cards-wrapper{
      max-width: 100%;
      padding: 3rem 1rem;
      margin: 0px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;

      .card{
        height: 28rem;
        text-align: left;

        .icon{
          margin: -6rem 1rem 3.2rem;
        }

        &:nth-child(1){
          // grid-row: 1;
          grid-column: 1;
        }

        &:nth-child(2){
          margin-top: 5rem;
          grid-column: 2;
        }

        &:nth-child(3){
          margin-top: 10rem;
          grid-column: 3;
        }

        &:nth-child(1), &:nth-child(2){
          &::after{
            width: 6.25rem;
            height: 0.8rem;
            top: 50%;
            left: 100%;
            margin-left: 0%
          }
        }
      }

    }

    
  }
}