/* MOBILE FIRST */
.api-container {
  height: max-content;
  margin-top: 13.7rem;
  padding-bottom: 1.5rem;
  // background: linear-gradient(180deg, #ffffff 14%, #f0f1f6 14%);
  background: #f0f1f6;
  
  .search-box {
    width: 87%;
    height: fit-content;
    background: $dark-violet url(../images/bg-shorten-mobile.svg) no-repeat right top;
    margin: 3rem auto;
    border-radius: 1rem;
    position: relative;
    top: -8rem;

    form {
      padding: 2.4rem 0;
      margin: 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 16rem;

      input {
        width: 100%;
        height: 4.8rem;
        border-radius: 0.5rem;
        border: none;
        padding: 0.5rem 0 0 1.5rem;
        font-family: 'Poppins', sans-serif;
        position: relative;

        &::placeholder{
          font-family: 'Poppins', sans-serif;
          font-size: 1.6rem;
          color: $grayish-violet;
        }

        &.red{
          color: $red;
          font-size: 1.6rem;
          border: 0.2rem solid rgb(244, 98, 98);
        }
      }

      button {
        width: 100%;
        height: 4.8rem;
        background: #2bd1d1;
        border: none;
        border-radius: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        color: #fff;

        &:hover, &:focus{
          cursor: pointer;
          background:#9be2e4;
        }
      }
    }

    .error{
      position: absolute;
      top: 42%;
      left: 8%;

      .error-p{
        font-size: 1.2rem;
        color: $red;
        font-style: italic;
      }
    }
  }

  .loader{
    width: 8rem;
    height:8rem;
    margin: -10rem auto 10rem;
    border: 0.3rem solid $dark-violet;
    border-top:0.3rem solid $cyan;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    display: none;

    &.show{
      display: block;
    }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .links{
    margin: auto;
    width: 87%;
    position: relative;
    top: -8.6rem;
    display: flex;
    flex-direction: column-reverse; //the most recent appears on top

    li{
      @include flexCenter(column);
      justify-content: space-between;
      background: #fff;
      height: 15.5rem;
      border-radius: 0.4rem;
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
      padding: 1.3rem 1.6rem 1.6rem;

      &:first-child{
        margin-bottom: 2.4rem;
      }

      p{
        padding-bottom: 1rem;
        width: 100%;
        position: relative;

        &::after{
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 0.1rem;
          background: $gray;
          left: -1.6rem;
          top: 3.5rem;
          padding: 0 1.6rem;
        }
      }
      
      a{
        width: 100%;
        padding-top: 0.2rem;
        color: $cyan;
      }

      button{
        width: 100%;
        height: 4rem;
        background: #2bd1d1;
        border: none;
        border-radius: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #fff;

        &:hover{
          cursor: pointer;
          background:#9be2e4;
        }
      }
    }
  }
}


@media (min-width:590px) {
  .api-container{

    .search-box{
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: -5rem;
      max-width: 111rem;

      form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        
        input{
          width: 77%;
        }

        button{
          width: 20%;
        }
      }
      
      .error{
        top: 73%;
        left: 6%;
      }
    }

    .links{
      top: -5.6rem;
    }
  }
}

@media(min-width:750px) {
  .api-container{

    .search-box{
      width: 77%;
      height: 12rem;
      padding: 2.4rem 1rem;
    }

    .links{
      width: 77%;
    }
  }
}

@media (min-width: 1023px) {
  .api-container{
    .search-box{
      background: $dark-violet url(../images/bg-shorten-desktop.svg) no-repeat;
      background-size: 100%;
      padding: 2.4rem;
    }

    .links{
      top: -6rem;

      li{
        flex-direction: row;
        width: 100%;
        height: 7.2rem;
        font-size: 1.6rem;
        padding: 1.3rem 2.1rem 1.6rem 3.1rem;
        margin-bottom: 1.7rem;
        max-width: 111rem;

        p{
          width: 48%;
          padding-bottom: 0rem;

          &::after{
            width: 0%;
            padding: 0rem;
          }
        }
        
        a{
          width: 16%;
        }

        button{
          width: 9.8%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .api-container{
    margin-top: 13.4rem;

    .search-box{
      height: 15rem;
      top: -7.5rem;
      padding: 2.4rem 3.2rem;

      form{
        input, button{
          height: 5.7rem;
          border-radius: 1.1rem;
        }

        input{
          width: 78.4%;
          padding-left: 3rem;
          font-size: 1.8rem;

          &.red{
            font-size: 1.8rem;
          }

          &::placeholder{
            font-size: 1.8rem;
          }
        }

        button{
          width: 19.2%;
        }
      }
    }

    .links{
      top: -9rem;

      li{
        font-size: 2rem;

        p{
          width: 50%;
        }

        a{
          width: 20%;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .api-container {
    margin-top: 9.5rem;

    .search-box{
      padding: 2.4rem 4rem;
      height: 16.8rem;
      top: -8.5rem;
      
      form{
        input, button{
          height: 6.3rem;
        }

        input{
          &::placeholder{
            font-size: 2rem;
          }
        }

        button{
          font-size: 2rem;
        }
      }
    }

    .links{
      li{
        p{
          width: 60%;
        }
      }
    }
  }
}